<!--Determine type for form -->
<% if @cat.id != nil %>
  <% action_url = cat_url(@cat)%>
<% else %>
  <% action_url = cats_url %>
<% end %>

<div class="col-12 border p-3 mt-3">
    <form action="<%= action_url %>" method="post">
        <% if @cat.id != nil %>
            <input type="hidden" name="_method" value="PATCH">
        <% end %>

        <!--Attribute Forms -->
        <div class="form-group row">
            <div class="col-2">
                <label for="name">Name</label>
            </div>
            <div class="col-6">
                <input id="name" type="text" name="cat[name]" value="<%= @cat.name %>">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label for="birth_date">Birthday</label>
            </div>
            <div class="col-6">
                <input id="birth_date" type="date" name="cat[birth_date]" value="<%= @cat.birth_date %>">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label for="color">Color</label>
            </div>
            <div class="col-6">
                <select id="color" name="cat[color]">
                  <option disabled <%= @cat.color ? "" : "selected"%>>-- Please Select --</option>
                  <option value="Black" <%= @cat.color == "Black" ? "selected" : ""%> >Black</option>
                  <option value="White" <%= @cat.color == "White" ? "selected" : ""%>>White</option>
                  <option value="Gray" <%= @cat.color == "Gray" ? "selected" : ""%>>Gray</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label for="sex">Sex (M/F)</label>
            </div>
            <div class="col-6">
                <input id="sex" type="text" name="cat[sex]" value="<%= @cat.sex %>">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label for="description">Description</label>
            </div>
        
            <div class="col-6">
                <input id="description" type="text" name="cat[description]" value="<%= @cat.description %>">
            </div>
        </div>
        <br />
        <input type="submit" class="btn btn-success form-control text-white col-2" value="<%= @cat.id != nil ? 'Update Cat' : 'Add Cat'%>">
        
        <!--Error Messages-->
        <% if @cat.errors.any? %>
            <div id="error_explanation">
              <h3 class="text-danger">
                <%= pluralize(@cat.errors.count, "error") %> prohibited
                this cat from being saved:
              </h2>
              <ul>
                <% @cat.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        
    </form>
</div>    
<br />
<div class="col-2">
    <!--Return Button-->
    <%= link_to 'Return', cats_path, 
        class:"btn btn-info form-control text-white" %>
</div>